.prose a {
    color: #ca5425; /* Dark gray text color */
    text-decoration: none; /* Remove underline */
    font-weight: 500; /* Medium font weight */
    position: relative; /*Positioning for pseudo-elements*/
    display: inline-block; /*Make links inline-block for padding */
    padding-bottom: 1px; /* Add a bottom padding for a subtle underline effect */
    transition: color 0.3s ease; /* Smooth color transition */
    /*overflow: hidden; /* Hide overflow from pseudo-element */
  }

  /* Hover effect */
  .prose a:hover {
    color: #7c7001; /* Darker gray on hover */
  }
  
  /* Underline pseudo-element */
  .prose a::after {
    content: ''; /* Empty content */
    position: absolute; /* Position relative to link */
    left: 0; /* Align to left */
    bottom: 0; /* Align to bottom */
    width: 100%; /* Full width */
    height: 2px; /* Underline height */
    background-color: #ffe600; /* Blue underline color */
    transform: scaleX(0); /* Initially scaled to 0 */
    transform-origin: left; /* Scale from left */
    transition: transform 0.3s ease; /* Smooth animation */
  }
  
  /* Scale underline on hover */
  .prose a:hover::after {
    transform: scaleX(1); /* Scale to full width */
  }


  .link {
    color: #ca5425; /* Dark gray text color */
    text-decoration: none; /* Remove underline */
    font-weight: 500; /* Medium font weight */
    position: relative; /*Positioning for pseudo-elements*/
    /* display: inline-block; Make links inline-block for padding */
    padding-bottom: 1px; /* Add a bottom padding for a subtle underline effect */
    transition: color 0.3s ease; /* Smooth color transition */
    cursor: pointer
    /*overflow: hidden; /* Hide overflow from pseudo-element */
  }

  /* Hover effect */
  .link:hover {
    color: #7c7001; /* Darker gray on hover */
  }
  
  /* Underline pseudo-element */
  .link::after {
    content: ''; /* Empty content */
    position: absolute; /* Position relative to link */
    left: 0; /* Align to left */
    bottom: 0; /* Align to bottom */
    width: 100%; /* Full width */
    height: 2px; /* Underline height */
    background-color: #ffe600; /* Blue underline color */
    transform: scaleX(0); /* Initially scaled to 0 */
    transform-origin: left; /* Scale from left */
    transition: transform 0.3s ease; /* Smooth animation */
  }
  
  /* Scale underline on hover */
  .link:hover::after {
    transform: scaleX(1); /* Scale to full width */
  }
  
  .editor-container {
    position: relative;
  }

  .primary-button {
    height: 2.5rem; /* 10 * 0.25rem */
    padding-left: 0.5rem; /* 2 * 0.25rem */
    padding-right: 0.5rem; /* 2 * 0.25rem */
    border-radius: 0.375rem; /* medium border radius */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* small shadow */
    user-select: none;
    background-color: #3b82f6; /* bg-blue-500 */
    color: #f3f4f6; /* text-gray-100 */
  }
  
  .primary-button:hover {
    background-color: #2563eb; /* hover:bg-blue-600 */
  }

  .secondary-button {
    height: 2.5rem; /* 10 * 0.25rem */
    padding-left: 0.5rem; /* 2 * 0.25rem */
    padding-right: 0.5rem; /* 2 * 0.25rem */
    border-radius: 0.375rem; /* medium border radius */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* small shadow */
    user-select: none;
    border: 1px solid #3b82f6; 
    color: #f3f4f6; /* text-gray-100 */
  }

  .primary-button:hover {
    background-color: #2563eb; /* hover:bg-blue-600 */
  }

  /* COLORS 
  #6D9773 light green
  #0C3B2E dark green
  #B46617 light brown
  #FFBA00 yellow
  */